<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594819469357-7r8lijkmc17fodurhmqpcd8kfoojfuv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594819469357-7r8lijkmc17fodurhmqpcd8kfoojfuv8</string>
	<key>API_KEY</key>
	<string>AIzaSyBnc_pd-BP2mHTjIfTKyoscPvru9_CkJDs</string>
	<key>GCM_SENDER_ID</key>
	<string>594819469357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eestechChallenge2023</string>
	<key>PROJECT_ID</key>
	<string>eestech-a6d11</string>
	<key>STORAGE_BUCKET</key>
	<string>eestech-a6d11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594819469357:ios:9f5606c4ce7b4915b2a8a4</string>
</dict>
</plist>